doctype html
html(lang="en")
head
title= pageTitle
body
h1 Get Computer Information
#container.col
p. 
  get information about your computer in JSON form
a(href="/api/whoami").
 click here to get info